* {
	margin: 0;
	padding: 0;
}

body {
	min-width: 1200px;
	font-size: 14px;
}

.maduo-container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

.video {
	width: 800px;
	margin: 0 auto;
}
